<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>用户注册</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" th:href="@{/plugins/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" th:href="@{/plugins/adminLTE/css/AdminLTE.css}">
    <link rel="stylesheet" th:href="@{/plugins/iCheck/square/blue.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/alicss/iconfont.css}">
    <link rel="stylesheet" th:href="@{/css/element-index.css}">

</head>
<body class="hold-transition register-page">
<div class="register-box" id="app">
    <img :src="haha+'666'" alt="">
</div>

<style>

</style>

<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/vue.js}"></script>
<script th:src="@{/js/axios.js}"></script>
<script th:src="@{/plugins/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/plugins/iCheck/icheck.min.js}"></script>
<script th:src="@{/js/jquery.validate.js}"></script>
<script th:src="@{/js/messages_zh.js}"></script>
<script th:src="@{/js/globalVar.js}"></script>
<script th:src="@{/js/element-index.js}"></script>


<script>
    $(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' // optional
        });
    });
</script>

<script>
    let app = new Vue({
        el: "#app",
        data: {
            haha:preURL+"/img/avatars/default_avatar.jpg",
        },
        methods: {

        }
    });
</script>

</body>

</html>